.hoopsai_wp_wrapper a {
    font-weight: 500;
    padding-bottom: 1px;
    border-bottom: 1px dotted #8aa7c0;
}

.hoopsai_wp_wrapper .dashicons-yes {
    color: #62bf67
}

.hoopsai_wp_wrapper .dashicons-no {
    color: #de6764;
}

.postbox .inside .hoopsai_wp_tests {
    margin-left: -12px;
    margin-right: -12px;
}

.hoopsai_btns_list {
    padding: 40px;
}

.hoopsai_main {
    padding: 20px;
}

.hoopsai_content {
    display: flex;
}

.hoopsai_previews {
    padding-right: 40px;
}

.hoopsai_label {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.hoopsai_input {
    margin-top: 5px !important;
}